



$font-weight: (
  "extraLight": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "extrabold": 800,
);

$desktopSecondBp: 1650px;
$desktopthirdBp: 1540px;

$heading-text-color-first: #ffffff;
$heading-text-color-second: #00da5d;

$theme-first-background-color: #00da5d;
$button-hover-color: #00da5d;
$second-text-color: #00da5d;
$theme-green-color: #00da5d;

$menu-links-color: #ffffff;
$menu-links-hover-color: #00da5d;
$work-method-hover-color: #00da5d;

$social-icons-hover: #0b5fba;

$general-normalSize-text-color: #c0c0c0;
$general-mediumSize-text-color: #c0c0c0;

$white-text: #ffffff;

$main-background-color: #000024;

$skills-cards-hover-color: #020243;

$home-third-sec-: #000033;
$accordion-color: #020243;
$theme-seconds-background-color: #000024;
$theme-third-background-color: #020243;
$cards-background-color: #010139;
$cards-hover-color: #00da5d;



// -------------Break Points----------------------

$desktop:1399px;
$laptop:1199px;
$tablet:991px;
$largeWidthSizeMobiles:767px;
$mobile:575px;
$customSmallBp:450px;
$bpskillsIcons:370px;
 